<input id="js-mobile-menu-toggle" type="checkbox">
<header class="header">
    <div class="container">
        <a class="logo" href="home.html"><img src="components/common/imgs/ui/CertBolt_logo_1x.png" srcset="components/common/imgs/ui/CertBolt_logo_1x.png 2x" height="78" width="235" alt="CertBolt"></a>
        <templ src="components/form/form_search/form_search.html"></templ>
        <img class="mcafee" src="components/common/imgs/ui/mcafee_1x.png" srcset="components/common/imgs/ui/mcafee_2x.png 2x" height="56" width="139" alt="McAfee">
        <label class="js-mobile-menu-toggle" for="js-mobile-menu-toggle"> <img src="components/common/imgs/ui/sprite-assets/btn-menu.svg" alt="Menu"> </label>
    </div>
</header>
