<aside class="sidebar sidebar_left">
    <templ src="components/vendor-section/vendor-section.html"></templ>
    <templ src="components/vendor-section/vendor-section.html"></templ>
    <templ src="components/vendor-section/vendor-section.html"></templ>
    <templ src="components/vendor-section/vendor-section.html"></templ>
    <templ src="components/vendor-section/vendor-section.html"></templ>
    <templ src="components/vendor-section/vendor-section.html"></templ>
    <templ src="components/vendor-section/vendor-section.html"></templ>
</aside>