<form class="form_product-info">
    <figure class="figure"> <img src="components/common/imgs/content/slider-products/item1/product-pgoto1.png" alt="#">
        <a href="#" class="figcaption"> <i class="icon-view-all"></i> Download Demo </a>
    </figure>
    <article>
        <h1>Pass VCP7-CMA Certification Exams Fast</h1>
        <p class="fs_20">VCP7-CMA Practice Exam Questions, Verified Answers - Pass Your Exams For Sure!</p>
        <p class="txt_blue fs_22"><strong>91 Questions and Answers with Testing Engine </strong></p>
        <p class="fs_20">The ultimate exam preparation tool, 2V0-731 practice questions and answers cover all topics and technologies of 2V0-731 exam allowing you to get prepared and then pass exam.</p>
        <p class="fs_16">
            <label for="pdfVersion">
                <input class="checkbox-input" type="checkbox" id="pdfVersion" style="display: none;"> <span class="checkbox"><i class="icon-check-list"></i></span> <strong>PDF Version of Questions & Answers with Explanations ( + $44.90)</strong> <a class="details" href="#">Details <i class="icon-angle-right-1"></i></a> </label>
        </p>
        <div class="about_product__price txt_right">
            <div class="about_product__price_was"> Was: <del>$224.99</del> </div>
            <div class="about_product__price_now"> Now: <span>$202.49</span> </div>
            <button class="btn" type="button">Add to cart</button>
        </div>
    </article>
</form>