<article class="popup block">
    <header class="popup__header">
        <i class="popup__btn_close icon-close"></i>
        <h1 class="fs_44">Get <span class="txt_yellow">30% Discount</span> on All Your Purchases
            <div class="fs_26"><small>This is ONE TIME OFFER</small></div>
        </h1>
    </header>
    <div class="popup__content">
        <div class="img-wrapper">
            <img width="280" src="img/content/products-imgs/products4.png" alt="#">
            <div class="you-save">
                <div id="saveValue1">-30%</div>
            </div>
        </div>
        <form action="#" class="form_receive-code">
            <h2 class="mt_0">Enter your email address to receive your 30% off discount code:</h2>
            <label class="form__label">
                 <input class="form__input form_contact-us__input" id="email" type="email" placeholder="Enter your email address" required="">
                 </label>
            <p class="fs_18">A confirmation link will be sent to this email address to verify your login</p>
            <button class="btn" type="button">Get Your Discount Code</button>
            <p class="fs_18">*We value your privacy. We will not rent or sell your email address.</p>
        </form>
    </div>
</article>
