<div class="slider slider_exams">
    <img src="components/common/imgs/content/products-imgs/dgfdg.png">
    <img src="components/common/imgs/content/products-imgs/dgfdg.png">
    <img src="components/common/imgs/content/products-imgs/dgfdg.png">
    <img src="components/common/imgs/content/products-imgs/dgfdg.png">
    <img src="components/common/imgs/content/products-imgs/dgfdg.png">
    <img src="components/common/imgs/content/products-imgs/dgfdg.png">
    <img src="components/common/imgs/content/products-imgs/dgfdg.png">
</div> 
