<form action="" class="form form_contact-us" autocomplete="on">
    <h5 class="form__header">Contact Us</h5>
    <div class="form__fieldset">
        <label class="form__label">
            <input class="form__input form_contact-us__input" id="contactName" type="text" placeholder="Name"> </label>
        <label class="form__label">
            <input class="form__input form_contact-us__input" id="email" type="email" placeholder="Email"> </label>
    </div>
    <textarea rows="6" class="form__textarea form_contact-us__textarea" id="comments" placeholder="Write youre message here"></textarea>
    <button class="btn btn_send form_contact-us__btn">Send</button>
</form>