<form action="" class="form form_registration" autocomplete="on">
    <h1 class="form__header ">Free Registration</h1>  
    <div class="form__fieldset">
        <label class="form__label form_registration__label">
            <input class="form__input form_registration__input" id="email" type="email" placeholder="E-mail *" required=""> </label>
        <label class="form__label form_registration__label">
            <input class="form__input form_registration__input" id="password" type="password" placeholder="Password *" required=""> </label>
        <label class="form__label form_registration__label">
            <input class="form__input form_registration__input" id="passwordConfirm" type="password" placeholder="Confirm password *" required=""> </label>
    </div><br> 
    <button class="btn btn_send form_registration__btn">Register Now</button>
    <div class="fs_22">Already a member? <a href="#" class="txt_blue">Log in.</a></div>
</form>