<div class="slider slider_top-certifications">
    <section class="slider__header">
        <h2 class="">Top Certifications</h2> <a class="view-all"><i class="icon-view-all"></i><span>View all</span></a> </section>
    <section class="slider__wrapper">
        <a class="slider__item slider_top-certifications__item vendor">
            <div class="vendor__img-wrapper"> <img src="components/common/imgs/content/vendor-logo.png" alt="#"> </div>
            <h2 class="vendor__name">CCNP</h2>
        </a>
        <a class="slider__item slider_top-certifications__item vendor">
            <div class="vendor__img-wrapper"> <img src="components/common/imgs/content/vendor-logo.png" alt="#"> </div>
            <h2 class="vendor__name">CCNP</h2>
        </a>
        <a class="slider__item slider_top-certifications__item vendor">
            <div class="vendor__img-wrapper"> <img src="components/common/imgs/content/vendor-logo.png" alt="#"> </div>
            <h2 class="vendor__name">CCNP</h2>
        </a>
        <a class="slider__item slider_top-certifications__item vendor">
            <div class="vendor__img-wrapper"> <img src="components/common/imgs/content/vendor-logo.png" alt="#"> </div>
            <h2 class="vendor__name">CCNP</h2>
        </a>
        <a class="slider__item slider_top-certifications__item vendor">
            <div class="vendor__img-wrapper"> <img src="components/common/imgs/content/vendor-logo.png" alt="#"> </div>
            <h2 class="vendor__name">CCNP</h2>
        </a>
        <a class="slider__item slider_top-certifications__item vendor">
            <div class="vendor__img-wrapper"> <img src="components/common/imgs/content/vendor-logo.png" alt="#"> </div>
            <h2 class="vendor__name">CCNP</h2>
        </a>
        <a class="slider__item slider_top-certifications__item vendor">
            <div class="vendor__img-wrapper"> <img src="components/common/imgs/content/vendor-logo.png" alt="#"> </div>
            <h2 class="vendor__name">CCNP</h2>
        </a>
    </section>
</div>
