<article class="valuable-customers white-block">
    <h1 class="valuable-customers__header">CertBolt Valuable Customers</h1>
    <p>CertBolt is the world's largest certification preparation company with 99.6% Pass Rate History from 315177+ Satisfied Customers in 145 Countries.</p>
    <div class="flex flex_wrap flex_between">
        <div class="valuable-customers__img-wrapper"><img src="components/common/imgs/ui/sidebar/alcatel-lucent.png" alt="alcatel-lucent"></div>
        <div class="valuable-customers__img-wrapper"><img src="components/common/imgs/ui/sidebar/avaya.png" alt="avaya"></div>
        <div class="valuable-customers__img-wrapper"><img src="components/common/imgs/ui/sidebar/citrix.png" alt="citrix"></div>
        <div class="valuable-customers__img-wrapper"><img src="components/common/imgs/ui/sidebar/cwnp.png" alt="cwnp"></div>
        <div class="valuable-customers__img-wrapper"><img src="components/common/imgs/ui/sidebar/emc.png" alt="emc"></div>
        <div class="valuable-customers__img-wrapper"><img src="components/common/imgs/ui/sidebar/isaca.png" alt="isaca"></div>
    </div>
</article>