<article class="feedback">
    <h1 class="feedback__header">I passed today!</h1>
    <div class="feedback__star-rating"> <i class="icon-star-full"></i> <i class="icon-star-full"></i> <i class="icon-star-full"></i> <i class="icon-star-half"></i> <i class="icon-star-empty"></i> </div>
    <blockquote class="feedback__content">
        <p>"I have just passed 220-802 exam today with a nearly perfect score! It is true: this is the UPDATED version of the braindump, which corresponds with the latest exam release. I was told to be the first one to take this exam in my local testing center, and probably one of the first exam takers nationwide. The great news is, the questions are real and valid. Thanks Testking!"</p>
    </blockquote> <span class="feedback__author-name">Joshua P.</span> <address class="feedback__author-address">Vienna, Austria</address> </article>