<div class="slider slider_featured">
    <section class="slider__header">
        <h2 class="">Featured Courses</h2>
    </section>
    <section class="slider__wrapper">
        <a class="slider__item slider_featured__item course">
            <div class="course__img-wrapper"> <img src="components/common/imgs/content/course-img.png" alt="#"> </div>
            <h2 class="course__name">Mastering Moodboards — Your tools for understanding and tools for understanding</h2>
            <div class="course__info"> <i class="icon-enrolled"></i><span class="course__val-enrolled">90 299</span> <i class="icon-duration"></i><span class="course__val-duration">2.5 h</span> <i class="icon-rating"></i><span class="course__val-rating">4.9</span> </div>
            <div class="course__price"> <span class="course__price_new">
                          <sup class="course__currency">£</sup>12
                            </span> <span class="course__price_old">
                          <span class="course__currency">£</span>100 </span>
            </div>
        </a>
        <a class="slider__item slider_featured__item course">
            <div class="course__img-wrapper"> <img src="components/common/imgs/content/course-img.png" alt="#"> </div>
            <h2 class="course__name">Mastering Moodboards — Your tools for understanding and tools for understanding</h2>
            <div class="course__info"> <i class="icon-enrolled"></i><span class="course__val-enrolled">90 299</span> <i class="icon-duration"></i><span class="course__val-duration">2.5 h</span> <i class="icon-rating"></i><span class="course__val-rating">4.9</span> </div>
            <div class="course__price"> <span class="course__price_new">
                          <sup class="course__currency">£</sup>12
                            </span> <span class="course__price_old">
                          <span class="course__currency">£</span>100 </span>
            </div>
        </a>
        <a class="slider__item slider_featured__item course">
            <div class="course__img-wrapper"> <img src="components/common/imgs/content/course-img.png" alt="#"> </div>
            <h2 class="course__name">Mastering Moodboards — Your tools for understanding and tools for understanding</h2>
            <div class="course__info"> <i class="icon-enrolled"></i><span class="course__val-enrolled">90 299</span> <i class="icon-duration"></i><span class="course__val-duration">2.5 h</span> <i class="icon-rating"></i><span class="course__val-rating">4.9</span> </div>
            <div class="course__price"> <span class="course__price_new">
                          <sup class="course__currency">£</sup>12
                            </span> <span class="course__price_old">
                          <span class="course__currency">£</span>100 </span>
            </div>
        </a>
        <a class="slider__item slider_featured__item course">
            <div class="course__img-wrapper"> <img src="components/common/imgs/content/course-img.png" alt="#"> </div>
            <h2 class="course__name">Mastering Moodboards — Your tools for understanding and tools for understanding</h2>
            <div class="course__info"> <i class="icon-enrolled"></i><span class="course__val-enrolled">90 299</span> <i class="icon-duration"></i><span class="course__val-duration">2.5 h</span> <i class="icon-rating"></i><span class="course__val-rating">4.9</span> </div>
            <div class="course__price"> <span class="course__price_new">
                          <sup class="course__currency">£</sup>12
                            </span> <span class="course__price_old">
                          <span class="course__currency">£</span>100 </span>
            </div>
        </a>
    </section>
</div>
