<form class="form_exams">
    <div class="product-info">
        <figure class="figure">
            <div class="about txt_left">
                <h2 class="fs_48 mt_0">CompTIA N10-006 Bundle</h2>
                <div><strong>Certification: </strong><span>VCP7-CMA</span></div>
                <div><strong>Certification Full Name: </strong><span>VMware Certified Professional 7 - Cloud Management and Automation</span></div>
                <div><strong>Certification Provider: </strong><span>VMware</span></div>
                <div><strong>Exam Code: </strong><span>2V0-731</span></div>
            </div>
            <div class="img-wrapper">
                <img src="components/common/imgs/content/products-imgs/products4.png" alt="#">
                <div class="you-save">
                    <div id="saveValue">$25.50</div>
                </div>
            </div>
            <templ src="components/slider/slider_exams/slider_exams.html"></templ>
            <a href="#" class="figcaption">
                <i class="icon-view-all"></i> Download Demo
            </a>
        </figure>
        <article class="">
            <h1 class="fs_48">100% CompTIA N10-006 Guaranteed Success With Testking Training Materials</h1>
            <p class="fs_20">Get real N10-006 exam questions & expert verified answers as experienced on the real exam!</p>
            <div class="tabs">
                <input id="tab1" type="radio" name="tabs" checked>
                <input id="tab2" type="radio" name="tabs">
                <input id="tab3" type="radio" name="tabs">
                <section class="tabs__wrapper">
                    <label class="tab" for="tab1"><span>N10-006 Bundle</span></label>
                    <label class="tab" for="tab2"><span>Product Reviews</span></label>
                    <label class="tab" for="tab3"><span>FAQ</span></label>
                </section>
                <section class="tabs__content">
                    <div class="tabs__content-item tab-content-1 white-block"> 
                        <div class="exams clearfix">
                            <templ src="components/exams__item/exams__item.html"></templ>
                            <templ src="components/exams__item/exams__item.html"></templ>
                            <templ src="components/exams__item/exams__item.html"></templ> 
                        </div>
                        <label class="label_checkbox" for="pdfVersion">
                        <input type="checkbox" class="checkbox-input" id="pdfVersion" style="display: none;">
                        <span class="checkbox"><i class="icon-check-list"></i></span>
                        <strong>PDF Version of Questions & Answers with Explanations ( + $44.90)</strong>
                        <a class="details" href="#">Details <i class="icon-angle-right-1"></i></a>
                        </label>
                    </div>
                    <div class="tabs__content-item tab-content-2 white-block">Tab 2 content</div>
                    <div class="tabs__content-item tab-content-3 white-block">Tab 3 content</div>
                </section>
            </div>
        </article>

    </div>
    <div class="flex flex_between flex_wrap">
        <aricle class="money-back clearfix">
            <div class="label_pink">99.6% Pass Rate</div>
            <img class="alignleft" src="components/common/imgs/ui/sidebar/money_back.png" alt="Money Back">
            <h1 class="money-back__header mt-0"><span class="nowrap">Money Back</span> Guarantee</h1>
            <p>Testking provides hassle-free money back guarantee with our products. That is because we have 100% trust in the abilities of our professional and experience product team, and our record is a proof of that.</p>

        </aricle>
        <div class="about_product__price txt_right">
            <div class="about_product__price_was">
                Was: <del>$224.99</del>
            </div>
            <div class="about_product__price_now">
                Now: <span>$202.49</span>
            </div>
            <button class="btn" type="button">Add to cart</button>
        </div>
    </div>
</form>
