<footer class="footer">
    <div class="container">
        <a class="logo" href="home.html"><img src="components/common/imgs/ui/CertBolt_logo_1x.png" srcset="components/common/imgs/ui/CertBolt_logo_1x.png 2x" height="78" width="235" alt="CertBolt"></a>
        <ul class="footer__menu">
            <li><a href="home.html">Home</a></li>
            <li><a href="contact-us.html">Contact us</a></li>
            <li><a href="disclaimer.html">Disclaimer</a></li>
            <li><a href="privacy.html">Privacy</a></li>
            <li><a href="terms.html">Terms</a></li>
            <li><a href="sitemap.html">Sitemap</a></li>
        </ul>
        
        <templ src="components/form/form_subscribe/form_subscribe.html"></templ>
    </div>
    <div class="copyright"> © All Rights Reserved 2017-2018 CertBolt.com </div>
</footer>
