<article class="secure-shopping">
    <h1 class="secure-shopping__header">Secure Shopping Experience</h1> <img src="components/common/imgs/ui/sidebar/cards.svg" alt="cards">
    <p>Your purchase with Testking is safe and fast. Your products will be available for immediate download after your payment has been received.</p>
    <p>Testking website is protected by 256-bit SSL from McAfee, the leader in online security.</p> <img src="components/common/imgs/ui/sidebar/security.png" alt="security"> </article>