<div class="purchase-individually__item">
    <img class="alignleft" src="components/common/imgs/content/products-imgs/dgfdg.png" alt="#">
    <h4 class="txt_blue fs_20">Q&A</h4>
    <div class="fs_16">461 Questions</div>
    <div class="fs_16"><strong>$121.49</strong></div>
    <button class="btn btn_small" type="button">Add to Cart</button>
    <div>
        <label class="label_checkbox" for="productID">
            <input class="checkbox-input" type="checkbox" id="productID" style="display: none;">
            <span class="checkbox"><i class="icon-check-list"></i></span>
            <strong class="fs_16">PDF Version: +<span>$44.90</span></strong>
        </label>
        <a class="details" href="#">Details <i class="icon-angle-right-1"></i></a>
    </div>
</div>
