<div class="slider slider_product">
    <figure class="slider__item slider_product__item slider_product__item"> <img src="components/common/imgs/content/slider-products/item1/1.png" alt="Testking Testing-Engine">
        <figcaption class="figcaption">Testking Testing-Engine Sample (1)</figcaption>
    </figure>
    <figure class="slider__item slider_product__item slider_product__item"> <img src="components/common/imgs/content/slider-products/item1/1.png" alt="Testking Testing-Engine">
        <figcaption class="figcaption">Testking Testing-Engine Sample (2)</figcaption>
    </figure>
    <figure class="slider__item slider_product__item slider_product__item"> <img src="components/common/imgs/content/slider-products/item1/1.png" alt="Testking Testing-Engine">
        <figcaption class="figcaption">Testking Testing-Engine Sample (3)</figcaption>
    </figure>
    <figure class="slider__item slider_product__item slider_product__item"> <img src="components/common/imgs/content/slider-products/item1/1.png" alt="Testking Testing-Engine">
        <figcaption class="figcaption">Testking Testing-Engine Sample (4)</figcaption>
    </figure>
</div>